.hero-section{
    min-height: 70vh;
    // darken the background image
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://wallpapercrafter.com/sizes/3840x2160/238798-a-street-vendor-sitting-at-his-stall-at-an-asian-s.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}